.git
.pytest_cache
**/.pytest_cache
**/__pycache__
**/*.pyc
frontend/node_modules
frontend/dist
frontend/playwright-report
frontend/test-results
backend/database/*
!backend/database/schema.sql
backend/*.db
backend/*_test.db
